.woocommerce ul.products {
	/*margin: 0 0 1em;*/
	padding: 0;
	list-style: none outside;
	clear: both;
}
.woocommerce ul.products:after {
	content: "";
	display: block;
	clear: both;
}
.woocommerce ul.products li {
	list-style: none outside;
}
.woocommerce ul.products li:first-child {
	
}
.woocommerce ul.products li.first {
	clear: both;
	margin-left:0;
}
.woocommerce ul.products li.last {
	margin-right: 0;
}
.woocommerce ul.products li.product {
	position: relative;
	margin-bottom: 30px;
}

.woocommerce ul.products li.product .product-wrapper {
	border: 1px solid #E6E6E6;
	border-bottom-width: 0;
	text-align: center;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	padding: 10px;
	margin: 0px 0px -6px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	background: #fff;
	
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.woocommerce ul.products li.product:hover .product-wrapper {
	-webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.33);
	-moz-box-shadow: 1px 1px 6px rgba(0,0,0,0.33);
	box-shadow: 1px 1px 6px rgba(0,0,0,0.33);
}

.woocommerce ul.products li.product .product-meta {
	border-top: 1px solid #E6E6E6;
	
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
	height: 20px;
	background: #fff;
}

.woocommerce ul.products li.product:hover .product-meta {
	border-bottom: 1px solid #E6E6E6;
	border-top: 0;
}

.woocommerce ul.products li.product .product-meta-wrapper {
	padding: 10px;
	margin: 0px 0px -6px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	-webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.33);
	-moz-box-shadow: 1px 1px 6px rgba(0,0,0,0.33);
	box-shadow: 1px 1px 6px rgba(0,0,0,0.33);
	
	background: #fff;
	
	//padding: 0 10px;
	border-top: 0;
	visibility: hidden;
	overflow: hidden;
	border: solid #E6E6E6;
	border-width: 0 1px 1px;
	
	-webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    transition: all linear 0.1s;
    -webkit-backface-visibility: hidden; /* fixes webkit flickering after transitions*/
}

.woocommerce ul.products li.product:hover .product-meta-wrapper {
	visibility: visible;
}

.woocommerce ul.products li.product .product-meta-wrapper:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	height: 6px;
	background: #fff;
	border: solid #E6E6E6;
	border-width: 0 1px;
}

img.extra{
	display:none;
}