.csp_sistina .products {
	margin-bottom: 30px;
}
.csp_sistina .products:after {
	content: "";
	display: block;
	clear: both
}

.csp_sistina .products .product:hover{
	z-index:250;
}

.csp_sistina .products .product .product-wrapper {
	position:relative;
	border: 1px solid #E6E6E6;
	border-bottom-width: 0;
	text-align: center;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
/*	padding:10px;*/
/*    margin:0px 0px -6px;*/
    -webkit-box-shadow:none; 
       -moz-box-shadow:none; 
            box-shadow:none;
	background:#fff;
}

.csp_sistina .products .product:hover .product-wrapper {
	-webkit-box-shadow:1px 1px 6px rgba(0,0,0,0.33);
       -moz-box-shadow:1px 1px 6px rgba(0,0,0,0.33);
            box-shadow:1px 1px 6px rgba(0,0,0,0.33);
}
.csp_sistina .products .product .product-wrapper form {
	text-align: center;
}
.csp_sistina .products .product .product-wrapper h3 {
/*float:left;
	clear:left;*/
}
.csp_sistina .products .product:hover .product-wrapper h3 {
/*float:none;*/
}
.csp_sistina .products .product .product-wrapper .price {
/*float:left;
	clear:left;*/
}
.csp_sistina .products .product:hover .product-wrapper .price {
/*float:none;*/
}
.csp_sistina .products .product .product-wrapper .product-meta {
	border-top: 1px solid #E6E6E6;
	display:block; 
	position:absolute; 
	left:0px; 
	right:0px; 
	height:20px;
	background:#fff;
	z-index:260;
}
.csp_sistina .products .product:hover .product-wrapper .product-meta {
	border-bottom: 1px solid #E6E6E6; 
	border-top: 0;
}
.csp_sistina .products .product .product-wrapper .product-meta-wrapper {
    -webkit-box-shadow:1px 1px 6px rgba(0,0,0,0.33);
       -moz-box-shadow:1px 1px 6px rgba(0,0,0,0.33);
            box-shadow:1px 1px 6px rgba(0,0,0,0.33);
	background:#fff;
	padding:10px; 
	border-top:0; 
	/*visibility:hidden; */
	overflow:hidden; 
	border: solid #E6E6E6; 
	border-width: 0 1px 1px;
	
	/*height:0px;*/
	/*-webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    transition: all linear 0.1s;*/
}
.csp_sistina .products .product .product-wrapper .product-meta-wrapper:after {
	content:""; 
	position:absolute; 
	left:0; 
	right:0; 
	bottom:20px; 
	height:2px; 
	background:#fff; 
	border: solid #E6E6E6; 
	border-width: 0 1px;
}
.csp_sistina .products .product:hover .product-wrapper .product-meta-wrapper {
	/*visibility: visible;*/
	/*height:36px;*/
}
img.extra {
	display: none;
}
